body { 
    background-image: linear-gradient(pink,hotpink,deeppink); 
   font-family: sans-serif;
 }
 header{
    background-color: aliceblue;
    border-bottom: 2px solid blue;
}
      
h1{
    color: violet;
     font-size: 50px;
     text-align: center;
}
h2{
    color: violet;
     font-size: 50px;
     text-align: center;
}

h3{
    color: violet;
     font-size: 50px;
     text-align: center;
}

p{  
    color:black;
    font-size: 40px; 
    text-align: justify;
}

.logo {   
    width: 200px;
    height:200px;
    margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/ 
    padding: 2px; /*define uma distância interna entre um elemento e sua borda*/ 
    border: 0.2rem solid #C71585,
    borde-radius: 20px;
} 

.fotos {   
     width: 300px;
     height: 300px;
     margin: 10px;
     padding: 19px; 
     border: 0.5rem solid #C71585;
     border-radius: 24px;
}




